<section class="section has-background-white">
  <div class="container">
    <h2 class="title has-text-centered">Frequently Asked Questions</h2>
  <div id="accordion_second">
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-1" data-action="collapse">How does my Wine Passport work?</a></p>
      </div>
      <div id="faq-1" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            Come explore Seattle food and wine with us. Our Seattle Wine Passport and Seattle Food Passport include 10 tastings at the best wineries, cafés, restaurants, and delis in Seattle and Woodinville. Browse tasting information, pictures, special offerings, and insider stories. Then choose the 10 tasting spots you want to visit from a list of 20+ carefully curated selections.
          </p>

          <p>
            Upon arrival to the tasting location simply follow the instructions on the redemption screen and present the confirmation page to the team member at the location.
          </p>

          <p>
            Your curated tasting will be served for you.
          </p>
        </div>
      </div>
    </article>
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-2" data-action="collapse">What is included at each location?</a></p>
      </div>
      <div id="faq-2" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            For the Seattle Wine Passport each tasting location includes approximately 6 ounces of wine. This may be served as 6 1oz tasting pours, or as 3 2oz tasting pours. It is up to each tasting location to curate the best tasting experience showcasing their top notch wines.
          </p>
          <p>
            Gratuity is not included. Gratuities are always appreciated by tasting location staff.
          </p>
        </div>
      </div>
    </article>
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-3" data-action="collapse">When can I redeem my tastings?</a></p>
      </div>
      <div id="faq-3" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            Tastings can be redeemed anytime the tasting locations are open to the public. Check the location listing in the app for hours of operation.
          </p>
          <p>
            Tasting Passports are valid from one year after the date of purchase.
          </p>
        </div>
      </div>
    </article>
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-4" data-action="collapse">Can I make substitutions at the wineries?</a></p>
      </div>
      <div id="faq-4" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            Most locations specialize in a few particular styles of food, chocolate or wine. Substitutions at the tasting location may be requested, but it is up to the staff at each location to make a determination about what is possible.
          </p>
        </div>
      </div>
    </article>
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-5" data-action="collapse">How many people can use a Wine Passport?</a></p>
      </div>
      <div id="faq-5" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            Each guest who would like to use a Wine Passport must download the Savor Seattle app on their smartphone and purchase a Passport. Multiple users may not use 1 tasting passport…. Yet.
          </p>
        </div>
      </div>
    </article>
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-6" data-action="collapse">Who can I bring with me?</a></p>
      </div>
      <div id="faq-6" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            Bring your friends! Your family! Your special crush! Or your boss! Just make sure that they have the Savor Seattle app on their phone with a Tasting Passport loaded.
          </p>
        </div>
      </div>
    </article>
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-7" data-action="collapse">How about my dog?</a></p>
      </div>
      <div id="faq-7" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            We love your furry friends however they are not welcome in all tasting rooms because of health code reasons. Check the tasting locations pages in the app for spots that are pet friendly.
          </p>
        </div>
      </div>
    </article>
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-8" data-action="collapse">Can I get a refund?</a></p>
      </div>
      <div id="faq-8" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            All purchases are final. Refunds cannot be issued for unused tastings. Choose wisely!
          </p>
        </div>
      </div>
    </article>
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-9" data-action="collapse">Is there parking available?</a></p>
      </div>
      <div id="faq-9" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            Parking is available at some tasting locations.
          </p>
        </div>
      </div>
    </article>
    <article class="message">
      <div class="message-header">
        <p><a href="#faq-10" data-action="collapse">How do I redeem my Lyft credit?</a></p>
      </div>
      <div id="faq-10" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
        <div class="message-body-content">
          <p>
            To redeem your Lyft credit, check your inbox for an email from Savor Seattle with the subject line: Your Lyft Credit Is Here!
          </p>
          <p>
            Enter the unique redemption code from this email into your Lyft App.
          </p>
          <p>
            Your Lyft code is valid for $10 off of 5 rides.
          </p>
        </div>
      </div>
    </article>
  </div>
  </div>
  
</section>