<section class="features">
  <div class="columns is-size-3 has-text-weight-bold has-text-centered has-text-white">
    <div class="column has-background-link">
      10 Wine Tastings
    </div>
    <div class="column has-background-info">
      $50 Lyft Credit
    </div>
    <div class="column has-background-link">
      25+ Locations
    </div>
    <div class="column has-background-info">
      Only $59.99
    </div>
  </div>
</section>