<section class="passport-hero hero is-large">
  <div class="passport-hero__body">
    <div class="container has-text-centered-mobile">
      <div class="columns is-desktop">
        <div class="column">
          <h1 class="title has-text-white passport-hero__title">
            <%= headline %>
          </h1>
          <a href="https://play.google.com/store/apps/details?id=com.pssprt.savor.mobile" target="_blank">
            <%= image_tag "google-play-badge.svg", class: "passport-hero__appstore", alt: "Google Play App Store" %>
          </a>
          <a href="https://itunes.apple.com/us/app/savor-seattle/id1367652737?l=fr&ls=1&mt=8" target="_blank">
            <%= image_tag "apple-appstore-badge.svg", class: "passport-hero__appstore", alt: "Apple App Store" %>
          </a>
        </div>
      </div>  
    </div>
  </div>
</section>