<section class="introduction section">
  <div class="content container is-large has-text-centered">
    <h1>A Wine Experience Like No Other...</h1>
    Explore the best wineries in Seattle and Woodinville! Choose your own 10 tasting 
    locations, with <strong>all wine tastings included</strong>, and let Lyft be your 
    designated drive with <strong>$50 in free ride credits!</strong> Enjoy total 
    flexibility, at you own pace, on your own schedule.
  </div>
</section>