<section class="lyft-callout has-background-white">
  <div class="content">
    <div class="columns is-vcentered">
      <div class="column is-7 lyft-callout__image">
      </div>
      <div class="column is-5 lyft-callout__text">
        <h1>Get there and around, hassle and stress free! </h1>
        
        <p>
          For a day of tasting wines, we don't want you to worry about finding 
          a designated driver, let Lyft do it for you! With $50 of Lyft credits, 
          you'll be able to get to the vineyards and spend the day hopping 
          from one to the next with everyone in your group getting to partake 
          in the delicious fun.
        </p>
        <p>
          <strong>
            Five $10 ride credits for <u>new and existing Lyft customers</u>.
          </strong>
        </p>
        <p class="has-text-centered">
          <%= image_tag "Lyft_logo.svg", width: "100", alt: "Lyft Logo" %>
        </p>
      </div>
    </div>
  </div>
</section>