<section class="lyft-callout has-background-white">
  <div class="content">
    <div class="columns is-vcentered">
      <div class="column is-7 lyft-callout__image">
      </div>
      <div class="column is-5 lyft-callout__text">
        <h1><%= lyft_headline %></h1>
        
        <%= lyft_text %>
        <p class="has-text-centered">
          <%= image_tag "Lyft_logo.svg", width: "100", alt: "Lyft Logo" %>
        </p>
      </div>
    </div>
  </div>
</section>