<section class="testimonial section">
  <div class="content">
    <div class="columns is-vcentered">
      <div class="column is-6">
      </div>
      <div class="column">
        <p class="is-size-2">
          For less than $60 you get $50 in free Lyft credits, which leaves $10 for 
          10 wine tastings, which are usually around $15 a piece. And as 
          someone who used to work in the wine industry the list of wineries 
          is so impressive... You truly receive VIP treatment. Highly recommend!
        </p>
        <p class="is-size-4">
          - SeattleWinoHeather, App Store Review
        </p>
      </div>
    </div>
  </div>
</section>