<section class="wine-callout has-background-white">
  <div class="content">
    <div class="columns is-vcentered">
      
      <div class="column is-5 wine-callout__text">
        <h1>Trust the Seattle Experts</h1>
        
        <p>
          Savor Seattle has been treating locals and visitors to the best food and drink 
          available in Seattle for over 10 years now. We're the experts in what's good, 
          what's fresh, what's new, and where you absolutely have to go. We're so 
          excited to offer this wine passport because we have hand picked the best 
          places to sample the best wines in Seattle and Woodinville. 
        </p>
        <p>
          <strong>
            This passport will allow you to create your own unique, flavorful, 
            and unexpected journey through Seattle wines, we can't wait for you 
            to give it a try!
          </strong>
        </p>
      </div>
      <div class="column is-7 wine-callout__image">
      </div>
    </div>
  </div>
</section>