<section class="wine-callout has-background-white">
  <div class="content">
    <div class="columns is-vcentered">
      
      <div class="column is-5 wine-callout__text">
        <h1><%=about_headline%></h1>
        
        <%= about_text %>
      </div>
      <div class="column is-7 wine-callout__image">
      </div>
    </div>
  </div>
</section>